In [1]:
import pandas as pd

In [7]:
df=pd.read_csv('기아_고객_데이터_완성.csv')

In [8]:
df.head()

,생년월일,연령,성별,휴대폰번호,이메일,주소,아이디,가입일,차량구분,구매한제품,친환경차,제품구매날짜,거래금액,거래방식,제품구매빈도,제품구매경로,제품출시년월,지역,고객세그먼트,Cluster
0,1987-05-25,38,남,+1-983-243-5951,jeremyberger@newton-watson.com,인천광역시 부평구 부평대로 88,user762756,2023-09-21,픽업트럭,K3,False,2023-10-13,55987533,현금,6,온라인,2020-05,미국,0,3
1,1979-11-24,46,여,001-718-884-2716,robert55@hotmail.com,경기도 고양시 일산동구 중앙로 1036,user787282,2025-01-12,준대형 SUV,Pegas,False,2025-01-30,26135305,계좌이체,1,온라인,2020-12,미국,3,1
2,1984-08-25,41,남,(532)836-9308,garciaelizabeth@burns.net,인천광역시 부평구 부평대로 88,user293846,2024-12-17,준대형 세단,Optima / K5,False,2025-01-05,20425328,현금,3,온라인,2021-01,미국,2,0
3,1971-08-07,54,여,640.695.8051,phillipstroy@yahoo.com,전라북도 군산시 백릉로 300,user935434,2024-01-17,중형 세단,Accent (HC),False,2024-02-14,28976142,신용카드,6,오프라인,2020-06,미국,0,3
4,1991-12-26,34,여,+1-023-521-7921x18289,anthonygraves@smith.com,세종특별자치시 나성북로 21,user384834,2024-12-07,준중형 SUV,EV6,True,2024-12-29,53143909,계좌이체,1,온라인,2019-03,미국,1,4

In [20]:
df['구매한제품'].unique()

array(['K3', 'Pegas', 'Optima / K5', 'Accent (HC)', 'EV6', 'KX7',
       "C'eed CUV", 'K4', 'K5', 'Telluride', 'KX5', 'Seltos', 'Sorento',
       'Carnival', 'K2', 'KX3', 'Rio(pride)', 'Forte', 'Carnival (CKD)',
       'Carens MPV', 'Sonet', 'Sportage', "C'eed", 'Syros', 'Cerato',
       'KX1', 'EV5', 'Zhipao', 'EV9', 'Tucson(NX4)'], dtype=object)

In [17]:
# 1. True가 하나라도 있는 제품 목록 구하기
eco_friendly_products = df.groupby('구매한제품')['친환경차'].any()

# 2. 그 중 True인 제품만 필터링 (index가 제품 이름)
eco_friendly_products = eco_friendly_products[eco_friendly_products == True].index

# 3. 원본 df에서 해당 제품만 필터링
df_filtered = df[df['구매한제품'].isin(eco_friendly_products)]

In [19]:
df_filtered['구매한제품'].unique()

array(['EV6', 'EV5', 'EV9'], dtype=object)

In [21]:
df2=pd.read_csv('현대_고객_데이터_완성.csv')

In [24]:
df2

,이름,생년월일,연령,성별,휴대폰번호,이메일,주소,아이디,가입일,차량구분,...,친환경차,제품 구매 날짜,거래 금액,거래방식,제품구매빈도,제품구매경로,제품출시년월,지역,고객 세그먼트,Cluster
0,Robert Brown,1971-10-28,54,남,4332181960,robinsonwilliam@hoffman.net,"402 Peterson Drives Apt. 511, Davisstad, KS 06196",yherrera,2022-07-31,준대형 SUV,...,False,2024-12-04,21100000,신용카드,2,온라인,2020-09,미국,2,5
1,Michael Wilson,1984-03-12,41,남,+1-959-310-3413x1647,mitchellclark@yahoo.com,"283 Steven Groves, Lake Mark, WI 07832",lydiatrujillo,2023-12-14,준중형 SUV,...,True,2024-07-08,80410000,현금,1,오프라인,2023-01,미국,1,1
2,Robert Johnson,1968-10-01,57,남,953.767.2423,zhurst@yahoo.com,"710 Eric Estate, Carlsonfurt, PA 61849",tasha01,2025-02-22,준중형 세단,...,False,2025-03-20,63160000,현금,2,온라인,2021-04,미국,1,2
3,David Moore,1982-05-27,43,남,001-514-627-0482x81489,nathanielmartin@sellers.com,"USNV Allen, FPO AE 74865",millertodd,2022-07-16,픽업트럭,...,True,2024-10-20,88060000,신용카드,1,오프라인,2022-05,미국,1,1
4,David Wilson,1972-10-20,53,여,(782)489-6383,pcarney@yahoo.com,"33150 Brianna Avenue Apt. 031, Port Markhaven,...",ilewis,2024-09-03,중형 SUV,...,False,2025-03-05,26010000,신용카드,2,온라인,2020-09,미국,2,5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1887,신시우,1958-07-11,67,여,422076955,gyeonghyi78@gmail.com,전라북도 전주시 완산구 덕진동 33-7,jihungim,2023-03-06,준중형 세단,...,False,2024-12-20,86770000,카드,2,온라인,2020-03,대한민국,1,2
1888,최춘자,1976-06-27,49,여,311707739,hancunja@yu.kr,충청남도 천안시 동남구 성성동 22-3,jinho50,2024-08-26,준대형 세단,...,False,2023-08-24,69510000,현금,3,오프라인,2020-05,대한민국,3,3
1889,차서준,1968-01-22,57,여,647413740,qgim@simryujo.com,경상남도 창원시 의창구 봉곡동 48-6,jihun41,2023-01-02,준대형 세단,...,True,2024-01-12,39890000,현금,2,온라인,2018-01,대한민국,2,5
1890,안정희,1984-01-10,41,남,514061803,donghyeonbae@joyunson.com,대구광역시 수성구 범어동 55-3,yeongil47,2023-04-08,소형 해치백,...,False,2024-01-30,44530000,현금,2,온라인,2020-03,대한민국,2,5
1891,최민수,1960-06-24,65,여,410283477,ihyejin@jusighoesa.kr,전라남도 목포시 부주동 77-8,gyeongsugson,2022-11-08,대형 suv,...,False,2024-06-28,43950000,현금,5,오프라인,2020-03,대한민국,3,3

In [25]:
df2['구매한 제품'].unique()

array(['Avante', 'Ioniq 6', 'Sorento', 'EV6', 'Accent', 'Tucson',
       'Grandeur', 'Santa Fe', 'Sportage', 'Kona', 'NEXO', 'K5', 'G80',
       'Venue', 'GV70', 'Elantra', 'i20', 'Avante (CN7 N)', 'G80 (RG3)',
       'NEXO (FE)', 'Santa-Fe ™', 'G70 (IK)', 'IONIQ (AE EV)',
       'Avante (CN7 HEV)', 'IONIQ 6 (CE)', 'G90 (HI)',
       'Santa-Fe (MX5 PHEV)', 'Grandeur (GN7 HEV)', 'Tucson (NX4 PHEV)',
       'G90 (RS4)', 'Palisade (LX2)', 'i30 (PD)'], dtype=object)

In [10]:
df1=pd.read_csv('현대_고객데이터_신규입력용.csv')

In [11]:
df1['국가'].unique()

array(['미국', '서유럽', '아시아', '중동아프리카', '중남미', '캐나다', '동유럽', '멕시코', '대한민국'],
      dtype=object)

In [12]:
df1['국가'].value_counts()

국가
대한민국      292
미국        200
서유럽       200
아시아       200
중동아프리카    200
중남미       200
캐나다       200
동유럽       200
멕시코       200
Name: count, dtype: int64

In [13]:
df1.loc[df1['국가']=='대한민국']['구매한 제품'].value_counts()

구매한 제품
G70 (IK)               60
Santa-Fe ™             57
NEXO (FE)              52
Avante (CN7 N)         50
G80 (RG3)              46
Grandeur (GN7 HEV)      8
IONIQ (AE EV)           5
i30 (PD)                4
Palisade (LX2)          3
Tucson (NX4 PHEV)       2
Avante (CN7 HEV)        1
IONIQ 6 (CE)            1
G90 (HI)                1
Santa-Fe (MX5 PHEV)     1
G90 (RS4)               1
Name: count, dtype: int64

In [14]:
df1.head()

,이름,생년월일,연령,성별,휴대폰번호,이메일,주소,아이디,가입일,차량구분,...,친환경차,제품 구매 날짜,거래 금액,거래방식,제품구매빈도,제품구매경로,제품출시년월,국가,고객 세그먼트,Cluster
0,Robert Brown,1971-10-28,54,남,4332181960,robinsonwilliam@hoffman.net,"402 Peterson Drives Apt. 511, Davisstad, KS 06196",yherrera,2022-07-31,준대형 SUV,...,False,2024-12-04,21100000,신용카드,2,온라인,2020-09,미국,2,5
1,Michael Wilson,1984-03-12,41,남,+1-959-310-3413x1647,mitchellclark@yahoo.com,"283 Steven Groves, Lake Mark, WI 07832",lydiatrujillo,2023-12-14,준중형 SUV,...,True,2024-07-08,80410000,현금,1,오프라인,2023-01,미국,1,1
2,Robert Johnson,1968-10-01,57,남,953.767.2423,zhurst@yahoo.com,"710 Eric Estate, Carlsonfurt, PA 61849",tasha01,2025-02-22,준중형 세단,...,False,2025-03-20,63160000,현금,2,온라인,2021-04,미국,1,2
3,David Moore,1982-05-27,43,남,001-514-627-0482x81489,nathanielmartin@sellers.com,"USNV Allen, FPO AE 74865",millertodd,2022-07-16,픽업트럭,...,True,2024-10-20,88060000,신용카드,1,오프라인,2022-05,미국,1,1
4,David Wilson,1972-10-20,53,여,(782)489-6383,pcarney@yahoo.com,"33150 Brianna Avenue Apt. 031, Port Markhaven,...",ilewis,2024-09-03,중형 SUV,...,False,2025-03-05,26010000,신용카드,2,온라인,2020-09,미국,2,5

In [16]:
df1.loc[df1['구매한 제품']=='G80']['거래 금액']

19      71060000
29      71860000
34      78650000
42      82040000
45      77940000
          ...
1522    79420000
1533    79620000
1570    75220000
1574    83500000
1587    85770000
Name: 거래 금액, Length: 98, dtype: int64