In [ ]:
import pandas as pd

In [ ]:
df=pd.read_csv('hoyeon/현대1.csv')

         국가명    1월    2월    3월    4월  ...            차종   GDP  대표 차량 구분  차량 구분.1  차종 구분
0        동유럽   102   125   145   167  ...           i20  25.0       소형차      소형차    소형차
1        동유럽   234   288   335   383  ...        Mighty  25.0      상업용차     상업용차   상업용차
2        동유럽   309   381   442   506  ...        Tucson  25.0       SUV      SUV    SUV
3        동유럽   413   508   590   675  ...            PV  25.0       소형차      소형차    소형차
4        동유럽  1042  1283  1489  1706  ...       GV70 EV  25.0       전기차      전기차    전기차
..       ...   ...   ...   ...   ...  ...           ...   ...       ...      ...    ...
404  중동·아프리카   455  1147   564  1452  ...  Santa Fe HEV  20.0       전기차      전기차    전기차
405  중동·아프리카     1     2     1     3  ...        Ioniq5  20.0       전기차      전기차    전기차
406  중동·아프리카   670  1687   829  2135  ...        Tucson  20.0       SUV      SUV    SUV
407  중동·아프리카   686  1729   850  2188  ...        IONIQ5  20.0       전기차      전기차    전기차
408  중동·아프리카   209   526   259   666  ...          NX4m  20.0       소형차      소형차    소형차

[409 rows x 23 columns]

In [ ]:
import numpy as np

# 월별 컬럼 리스트
month_cols = ['1월', '2월', '3월', '4월', '5월', '6월',
              '7월', '8월', '9월', '10월', '11월', '12월']

# 월별 데이터 2.5배 하고, 소수점 버린 후 정수형 변환
df.loc[:, month_cols] = np.floor(df.loc[:, month_cols] * 1.3).astype(int)

# 총수출량 다시 계산
df['총수출량'] = df[month_cols].sum(axis=1)

         1월      2월      3월      4월  ...      9월     10월     11월     12월
0     153.0   187.5   217.5   250.5  ...   201.0   210.0   234.0   367.5
1     351.0   432.0   502.5   574.5  ...   463.5   484.5   537.0   844.5
2     463.5   571.5   663.0   759.0  ...   612.0   639.0   709.5  1114.5
3     619.5   762.0   885.0  1012.5  ...   817.5   853.5   946.5  1488.0
4    1563.0  1924.5  2233.5  2559.0  ...  2064.0  2154.0  2389.5  3757.5
..      ...     ...     ...     ...  ...     ...     ...     ...     ...
404   682.5  1720.5   846.0  2178.0  ...  1734.0  1933.5  1041.0  2226.0
405     1.5     3.0     1.5     4.5  ...     3.0     4.5     1.5     4.5
406  1005.0  2530.5  1243.5  3202.5  ...  2551.5  2844.0  1530.0  3274.5
407  1029.0  2593.5  1275.0  3282.0  ...  2614.5  2914.5  1569.0  3355.5
408   313.5   789.0   388.5   999.0  ...   795.0   886.5   477.0  1021.5

[409 rows x 12 columns]

In [ ]:
import numpy as np

# 랜덤 배수 생성 (예: 각 행마다 5.0 ~ 7.0 사이의 난수)
multipliers = np.random.uniform(3.0, 4.0, size=len(df))

# 월별 수치에 행별 배수 적용 후 소수점 버리고 정수로 변환ㅠㅠ
for i, col in enumerate(month_cols):
    df[col] = np.floor(df[col] * multipliers).astype(int)

# 총수출량 다시 계산
df['총수출량'] = df[month_cols].sum(axis=1)

In [ ]:
import numpy as np

# 온대를 제외한 행의 인덱스 추출
non_temperate_idx = df[df['기후대'] != '온대'].index

# 각 해당 행마다 랜덤 배수 (예: 5.0 ~ 7.0 사이)
multipliers = np.random.uniform(5.0, 7.0, size=len(non_temperate_idx))

# 해당 행들에만 배수 적용
for idx, mult in zip(non_temperate_idx, multipliers):
    df.loc[idx, month_cols] = np.floor(df.loc[idx, month_cols] * mult).astype(int)

# 총수출량 다시 계산
df['총수출량'] = df[month_cols].sum(axis=1)

In [ ]:
import numpy as np

# '온대' 기후대인 행만 선택
temperate_idx = df[df['기후대'] == '온대'].index

# 해당 행 수만큼 배수 생성 (5.0 ~ 7.0 사이 난수)
multipliers = np.random.uniform(5.0, .0, size=len(temperate_idx))

# 각 '온대' 행에 배수 적용
for idx, mult in zip(temperate_idx, multipliers):
    df.loc[idx, month_cols] = np.floor(df.loc[idx, month_cols] * mult).astype(int)

# 총수출량 다시 계산
df['총수출량'] = df[month_cols].sum(axis=1)

In [ ]:
# '온대' 기후대인 행 인덱스 추출
temperate_idx = df[df['기후대'] == '온대'].index

# 0.4배 증가 (즉, 1.4배 곱하고 소수점 버림)
for idx in temperate_idx:
    df.loc[idx, month_cols] = np.floor(df.loc[idx, month_cols] * 1.4).astype(int)

# 총수출량 다시 계산
df['총수출량'] = df[month_cols].sum(axis=1)

In [ ]:
df.to_csv('hoyeon/현대1.csv', index=False, encoding='utf-8-sig')

Traceback (most recent call last):
  File "c:\Users\vhzkf\.vscode\extensions\ms-python.python-2025.2.0-win32-x64\python_files\python_server.py", line 133, in exec_user_input
    retval = callable_(user_input, user_globals)
  File "<string>", line 1, in <module>
  File "C:\Users\vhzkf\anaconda3\envs\hi\lib\site-packages\pandas\util\_decorators.py", line 333, in wrapper
    return func(*args, **kwargs)
  File "C:\Users\vhzkf\anaconda3\envs\hi\lib\site-packages\pandas\core\generic.py", line 3967, in to_csv
    return DataFrameRenderer(formatter).to_csv(
  File "C:\Users\vhzkf\anaconda3\envs\hi\lib\site-packages\pandas\io\formats\format.py", line 1014, in to_csv
    csv_formatter.save()
  File "C:\Users\vhzkf\anaconda3\envs\hi\lib\site-packages\pandas\io\formats\csvs.py", line 251, in save
    with get_handle(
  File "C:\Users\vhzkf\anaconda3\envs\hi\lib\site-packages\pandas\io\common.py", line 873, in get_handle
    handle = open(
PermissionError: [Errno 13] Permission denied: 'hoyeon/현대1.csv'

In [ ]:
month_cols = ['1월', '2월', '3월', '4월', '5월', '6월',
              '7월', '8월', '9월', '10월', '11월', '12월']

In [ ]:
# 총수출량 다시 계산 (1월 ~ 12월 합계)
df['총수출량'] = df[month_cols].sum(axis=1)

In [ ]:
climate_mapping = {
    '동유럽': '한랭',           # 폴란드, 루마니아 등 겨울 추운 지역 포함
    '북미-멕시코': '건조',       # 대부분 지역이 건조하거나 아열대
    '북미-미국': '온대',        # 다양한 기후 있으나 평균적으로 온대
    '북미-캐나다': '한랭',       # 대다수 지역이 냉대/한대
    '서유럽': '온대',           # 프랑스, 독일 등 온대기후
    '아시아': '온대',           # 중국, 한국, 일본 등 온대 중심 (아열대도 포함되지만 평균적으로 온대 처리)
    '중남미': '열대',           # 브라질, 페루 등 다수 지역이 열대
    '중동·아프리카': '건조',    # 사막 및 건조지역 다수 포함
}


df['기후대'] = df['국가명'].map(climate_mapping)

In [ ]:
df['기후대']

0      한랭
1      한랭
2      한랭
3      한랭
4      한랭
       ..
404    건조
405    건조
406    건조
407    건조
408    건조
Name: 기후대, Length: 409, dtype: object